<div class="wrapper">
  <div class="disply">
    <img src="../../assets/6_0.jpg" alt="Photo" />
  </div>
  <div class="article">
    <h1>The Power Of Dreams</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus nemo optio
      obcaecati, facere exercitationem tempora error voluptatibus itaque,
      magnam, atque mollitia voluptates hic quia fugit amet eius quaerat
      voluptatum ut. Aspernatur nulla adipisci magni tempora, atque dignissimos
      assumenda repellat. Nisi dolorem rerum expedita vel, ducimus eos nostrum,
      quisquam unde minima quam, nesciunt eum consequuntur porro omnis. Ex neque
      deserunt at doloribus eius reprehenderit blanditiis repellendus laborum
      delectus nostrum nemo, fugit, eum perspiciatis inventore! Minus excepturi
      porro dignissimos, enim consequatur est delectus ducimus! Asperiores ad
      ipsa modi optio eum sint quasi eos eaque, tenetur magnam officia enim non
      molestias maiores, at odio commodi facere vel eveniet id inventore
      molestiae soluta! Veniam alias inventore, consequuntur quibusdam expedita
      quis earum dolorum soluta perferendis itaque saepe quo dignissimos,
      voluptatibus laborum. Aut facilis exercitationem molestiae asperiores
      voluptas maiores eligendi consequatur fugit quam, iure cumque laboriosam
      quaerat? Reprehenderit ut suscipit ipsa maxime pariatur fugiat adipisci
      natus.
    </p>
    <button>Contact Us</button>
  </div>
</div>

<h1>Recent Post</h1>
